<footer class="bg-gray-100">
  <div class="photos-container mx-auto">
    <ul
      class="flex flex-wrap xs:justify-center sm:justify-center py-8 uppercase text-xs text-indigo-800 font-medium"
    >
      <li class="mr-6">Información</li>
      <li class="mr-6">Asistencia</li>
      <li class="mr-6">Prensa</li>
      <li class="mr-6">API</li>
      <li class="mr-6">Empleo</li>
      <li class="mr-6">Privacidad</li>
      <li class="mr-6">Condiciones</li>
      <li class="mr-6">Directorio</li>
      <li class="mr-6">Perfiles</li>
      <li class="mr-6">Hastags</li>
      <li class="mr-6">Idioma</li>
      <li class="text-gray-600">© 2019 AtGram</li>
    </ul>
  </div>
</footer>
