<section class="bg-gray-100">
  <div class="flex photos-container mx-auto flex-wrap">
    <div class="w-1/3 xs:p-1 sm:p-1 md:p-2">
      <img
        src="../../assets/images/atgram_blockchain.jpg"
      />
    </div>
    <div class="w-1/3 xs:p-1 sm:p-1 md:p-2">
      <img
        src="../../assets/images/atgram_blockchain.jpg"
      />
    </div>
    <div class="w-1/3 xs:p-1 sm:p-1 md:p-2">
      <img
        src="../../assets/images/atgram_blockchain.jpg"
      />
    </div>
    <div class="w-1/3 xs:p-1 sm:p-1 md:p-2">
      <img
        src="../../assets/images/atgram_blockchain.jpg"
      />
    </div>
    <div class="w-1/3 xs:p-1 sm:p-1 md:p-2">
      <img
        src="../../assets/images/atgram_blockchain.jpg"
      />
    </div>
    <div class="w-1/3 xs:p-1 sm:p-1 md:p-2">
      <img
        src="../../assets/images/atgram_blockchain.jpg"
      />
    </div>
  </div>
</section>
