<section class="bg-gray-100">
  <div class="flex photos-container mx-auto sm:pt-6 sm:pb-2 md:pt-16 md:pb-12">
    <div
      class="flex md:w-1/3 xl:w-1/3 xs:w-auto sm:w-auto xs:justify-start sm:justify-start xs:mx-6 sm:mx-6 md:justify-center xl:justify-center"
    >
      <img
        class="rounded-full border xs:w-20 xs:h-20 sm:w-20 sm:h-20 md:w-40 md:h-40 xl:w-40 xl:h-40"
        src="../../assets/images/atgram_profile.jpg"
      />
    </div>
    <div class="w-2/3">
      <div class="items-center mb-4 xs:hidden sm:hidden md:flex xl:flex">
        <h2 class="text-3xl font-thin inline-block mr-2">atsistemas</h2>
        <div class="flex items-center">
          <button
            class="bg-blue-500 mr-4 w-20 h-6 px-2 text-sm font-semibold rounded-sm text-white"
          >
            Seguir
          </button>
          <button class="bg-blue-500 mr-4 w-10 h-6 rounded-sm text-white">
            <div
              class="mx-auto"
              style="background-image: url('./assets/images/instagram_icons_2.png'); height: 6px; width: 9px; background-position: -327px -213px"
            ></div>
          </button>
        </div>
        <button>···</button>
      </div>
      <div class="flex items-center mb-4 flex-wrap md:hidden xl:hidden">
        <div class="w-full">
          <h2 class="text-3xl font-thin inline-block mr-2">atsistemas</h2>
          <button>···</button>
        </div>

        <div class="flex items-center">
          <button
            class="bg-blue-500 mr-4 w-20 h-6 px-2 text-sm font-semibold rounded-sm text-white"
          >
            Seguir
          </button>
          <button class="bg-blue-500 mr-4 w-10 h-6 rounded-sm text-white">
            <div
              class="mx-auto"
              style="background-image: url('./assets/images/instagram_icons_2.png'); height: 6px; width: 9px; background-position: -327px -213px;"
            ></div>
          </button>
        </div>
      </div>

      <div class="flex mb-4 xs:hidden sm:hidden md:flex xl:flex">
        <h3 class="mr-4"><span class="font-bold">180</span> publicaciones</h3>
        <h3 class="mr-4"><span class="font-bold">293</span> seguidores</h3>
        <h3 class="mr-4"><span class="font-bold">137</span> seguidos</h3>
      </div>

      <div class="xs:hidden sm:hidden md:block xl:block">
        <p class="font-bold">atSistemas</p>
        <p>
          👉Más de 1200 personas apasionadas por la
          <a class="text-indigo-800 underline" href="#"
            >#TransformaciónDigital</a
          >, <a class="text-indigo-800 underline" href="#">#talento</a> e
          <a class="text-indigo-800 underline" href="#">#innovación</a> | Somos
          <a class="text-indigo-800 underline" href="#">#atSistemas</a> 👈
        </p>
        <p>www.atsistemas.com</p>
      </div>
    </div>
  </div>

  <div class="m-6 text-sm xs:block sm:block md:hidden xl:hidden">
    <p class="font-bold">atSistemas</p>
    <p>
      👉Más de 1200 personas apasionadas por la
      <a href="#">#TransformaciónDigital</a>, <a href="#">#talento</a> e
      <a href="#">#innovación</a> | Somos <a href="#">#atSistemas</a> 👈
    </p>
    <p>www.atsistemas.com</p>
  </div>

  <div class="photos-container mx-auto">
    <ul class="flex flex-row  md:my-4 lg:my-8">
      <li class="m-5">
        <img
          class="stories-image"
          src="../../assets/images/atgram_digital_wolves.jpg"
          alt="Foto del perfil de Digital Wolves"
        />
        <div
          class="w-24 md:text-center sm:text-left xs:text-sm sm:text-sm xs:font-medium sm:font-medium md:font-semibold overflow-hidden truncate"
        >
          Digital Wolves
        </div>
      </li>
      <li class="m-5">
        <img
          class="rounded-full border mb-2 xs:w-16 xs:h-16 sm:w-16 sm:h-16 md:w-24 md:h-24"
          src="../../assets/images/atgram_linkedin.jpg"
          alt="Foto del perfil de LinkedIn"
        />
        <div
          class="w-24 md:text-center sm:text-left xs:text-sm sm:text-sm xs:font-medium sm:font-medium md:font-semibold overflow-hidden truncate"
        >
          LinkedIn
        </div>
      </li>
      <li class="m-5">
        <img
          class="rounded-full border mb-2 xs:w-16 xs:h-16 sm:w-16 sm:h-16 md:w-24 md:h-24"
          src="../../assets/images/atgram_twitter.jpg"
          alt="Foto del perfil de Twitter"
        />
        <div
          class="w-24 md:text-center sm:text-left xs:text-sm sm:text-sm xs:font-medium sm:font-medium md:font-semibold overflow-hidden truncate"
        >
          Twitter
        </div>
      </li>
    </ul>
  </div>
  <div class="photos-container mx-auto">
    <div
      class="flex justify-center border-t border-gray-300 text-sm font-medium"
    >
      <ul class="flex">
        <li
          class="flex items-center uppercase mx-8 py-4  border-t border-black"
        >
          <div
            class="bg-no-repeat"
            style="background-image: url('./assets/images/instagram_icons_2.png'); background-position: -274px -337px; height: 12px; width: 12px;"
          ></div>
          <div class="ml-2">Publicaciones</div>
        </li>
        <li class="flex items-center uppercase mx-8 py-4">
          <div
            class="bg-no-repeat"
            style="background-image: url('./assets/images/instagram_icons_2.png'); background-position: -246px -337px; height: 12px; width: 12px;"
          ></div>
          <div class="ml-2">Etiquetadas</div>
        </li>
      </ul>
    </div>
  </div>
</section>
